.publishercheck {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.publisher-label {
    font-family: "Archivo Black", sans-serif;
    color: white;
    font-size: 1rem;
    margin: 0;
    margin-top: 15px;
}

#profilepicture {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    transition: all 0.3s ease;
}

#profilepicture:hover {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 10;
}
